<h2>Contacts received</h2>

{{#each model as |contact|}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">From: {{contact.email}}
        <span class="pull-right">
          <button class="btn btn-danger btn-xs" {{action 'deleteContact' contact}}>
            Delete
          </button>
        </span>
      </h3>
    </div>
    <div class="panel-body">
      <p>{{contact.message}}</p>
    </div>
  </div>
{{/each}}